@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scrollbar-width: thin;
}

body {
    /* background-color: #fd2c2a; */
    background-color: #000;
}

nav{
    font-family: "General Sans";
}

.textcontainer{
    font-family: "General Sans";
}

.logo{
    font-family: "Doto";
}