@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scrollbar-width: thin;
}

nav{
    font-family: "General Sans";
}

.textcontainer{
    font-family: "General Sans";
}

.logo{
    font-family: "Doto";
}

canvas {
    pointer-events: none;
}

span.growing{
    background-color: #fd2c2a;
}